!<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>notre premier deploiement</title>
</head>
<body>
  bonjour, nous sommes le groupe 2 constitué de KAMMOGNE FONING wilfried etc....
</body>
</html>